* {
    padding: 0;
    margin: 0;
}

.font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 16px;
}


/*========== section ===============*/

.awe-section-1 {
    z-index: 0;
    margin-top: -10px;
    height: auto;
}

#myCarousel {
    max-width: 100%;
    max-height: 100%;
}

.carousel-inner {
    max-width: 100%;
    max-height: 100%;
}

.carousel-item {
    max-width: 100%;
    max-height: 100%;
}

.carousel-item img {
    width: max-content;
    max-width: 100%;
    max-height: 100%;
}


/*================ contain =====================*/


/*==========start body===========*/

.section-head {
    width: 81.5%;
    height: 50px;
    margin: 20px;
    vertical-align: middle;
    padding: 5px;
}

.section-head h2 {
    position: absolute;
    display: inline;
    border-left: 10px solid #f9c80b;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
}

.section-head h2:hover {
    color: #2edc7c;
}

.section-head .view-more {
    float: right;
    vertical-align: middle;
    text-decoration: none;
    padding: 10px;
    margin-top: -10px;
    color: black;
    font-size: 16px;
}

.section-head .view-more:hover {
    background-color: #2edc7c;
    color: white;
    font-weight: bold;
}


/*=========== start product==========*/


.container .row .product-list .card-body {
    border: 1px solid #ebebeb;
}

.product-item__sale {
    background: #9acf6a;
    box-shadow: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    left: 5%;
    line-height: 20px;
    min-height: auto;
    min-width: auto;
    padding: 8px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    top: 1px;
    border-radius: 100% !important;
    z-index: 1;
}

.container .product-list .card-img-top {
    width:190px;
    height:220px;
}

.card-title {
    height: 75px;
    text-decoration: none;
}

.card-text .discount {
    color: orangered;
}

.card-text .price {
    color: #a4b9ae;
    font-size: 12px;
}

.box-hover {
    height: 75px;
    display: none;
}

.card-body:hover .box-hover {
    display: block;
}

.card-body:hover .card-title {
    display: none;
}

.card-body:hover .card-text {
    display: none;
}

.card-body:hover .box-hover {
    display: block;
}

.box-hover i {
    padding: 10px;
    margin-bottom: 4px;
    font-size: 20px;
    color: #a4b9ae;
}

.box-hover i:hover {
    border: 2px solid;
    border-radius: 100%;
    background-color: #2edc7c;
    color: honeydew;
}

.box-hover .quick-view i {
    margin-top: 10px;
}


/*=========== end product==========*/


/*==========end body=============*/


/*============== start footer =============*/

.footer {
    float: left;
    min-height: 100px;
    width: 100%;
    height: auto;
    padding: 5px;
    background-image: url("../img/bg_footer.webp");
    background-size: cover;
    vertical-align: middle;
    background-position: center center;
}

.footer-left {
    float: left;
    border: 2px solid #ebebeb;
    padding: 30px 5%;
    height: 300px;
    margin-left: 8%;
    width: 30%;
    border-right: 0px;
    background-color: #fff;
}

.footer-center ul li {
    list-style-type: none;
}

.footer-right {
    float: left;
    border: 2px solid #ebebeb;
    border-left: 0px;
    padding: 30px 5%;
    height: 300px;
    margin-right: 5%;
    width: 30%;
    background-color: #fff;
}

.menu-icons li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    border: 2px solid #2edc7c;
    border-radius: 100%;
    padding: 5px;
}

.menu-icons li a {
    padding: 6px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

.facebook a {
    padding: 0px 20px;
}

.menu-icons li:hover {
    color: white;
    background-color: #2edc7c;
}

.menu-icons li:hover a {
    color: white;
    background-color: #2edc7c;
}

.menu li {
    list-style: none;
    font-size: 16px;
}

.menu li a {
    text-decoration: none;
    color: #a4b9ae;
}

.menu li:hover a {
    color: #2edc7c;
}

.footer-bottom {
    margin: 5% 5%;
    float: left;
    width: 40%;
    background-color: #fff;
}

.footer-bottom .footer-title {
    color: #a4b9ae;
    margin-bottom: 10px;
}

.footer-bottom input[name="email"] {
    font-size: 14px;
    height: 40px;
    width: 70%;
    vertical-align: middle;
}

.footer-bottom button {
    border: 1px solid;
    background-color: #2edc7c;
    color: #ebebeb;
    width: 20%;
    height: 40px;
    vertical-align: middle;
    font-weight: bold;
}

.our-service img {
    width: auto;
    height: 40px;
}


/*========= reponsible mob===========*/

#collapsibleNavbar #account_mob {
    margin-left: 90%;
}

@media screen and (max-width: 812px) {
    #mySidenav {
        display: block;
    }
    .header {
        display: none;
    }
    .footer-left {
        margin-left: auto;
        padding-left: 15%;
    }
    .footer-right {
        margin-left: auto;
        padding-left: 15%;
    }
    .footer-bottom {
        width: 100%;
        padding: 10px 10px;
    }
    .footer-bottom button {
        font-size: 16px;
        width: auto;
        padding: 1px;
    }
    .our-service img {
        width: 90%;
        height: 40px;
    }
    .our-service .service-title {
        font-size: 12px;
    }
    .content .cangiua {
        width: 200px;
        height: auto;
    }
    #post-top {
        display: none;
    }
    .container #post-bottom {
        display: block;
    }
    .container .product-list .center{
        font-size: 11px;
        text-align: center;
    }

    .items .card-body {
        font-size: 12px;
    }
    .items .card-text .price,
    .discount {
        font-size: 12px;
    }
    .items .product-item__sale {
        margin: 0;
        left: 0;
        padding: 4px;
    }
    .container .product-list .card-body{
        padding: 20px 0 20px 0;
    }

    .container .product-list .card-img-top{
        width: 100px;
        height: 120px;
    }
    .card-title{
        height: 40px;
    }
}

@media screen and (max-width: 1200px) {
    #cart .text {
        display: none;
    }
    #collapsibleNavbar {
        margin-top: 10px;
    }
}

@media screen and (max-width: 670px) {
    .section-head h2,
    .section-head .view-more {
        font-size: 14px;
    }
    .box-hover {
        display: none;
    }
    .container .product-item__sale {
        font-size: 12px;
        height: auto;
        top: 5px;
        left: 0px;
    }
    #collapsibleNavbar #account_mob {
        margin-left: 0;
    }
    /*======= category =============*/
    .container .content-left {
        display: none;
    }
    .sort {
        display: none;
    }
    .container #sort-by {
        display: block;
    }
}

@media screen and (max-width: 580px) {
    #collapsibleNavbar {
        height: 100%;
    }
}


/*============== category.css ================*/

.wrapper-tab {
    margin: 10px 0;
}

.breadcrumb {
    background-color: white;
}

.breadcrumb li a {
    color: black;
    text-decoration: none;
}

.breadcrumb li i:hover {
    color: #2edc7c;
}

.breadcrumb li a:hover {
    color: #2edc7c;
}


/*===============content category ==================*/

.content-left {
    display: inline-block;
    margin: 0px;
}

.title {
    border: 1px solid #ebebeb;
    font-size: 18px;
    padding: 10px;
}

.content-left-menu {
    border: 1px solid #ebebeb;
    padding: 10px;
}

.content-left-menu .active {
    display: inline;
}

.content-left-menu .nav-item i {
    text-align: right;
    margin-right: 1px;
    padding: 1px;
}

.content-right {
    display: inline;
    float: right;
}

.sort h5 {
    margin-left: 10px;
}

.sort .nav .nav-item i {
    height: 16px;
    width: 16px;
    border: 2px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 5px 0 0;
    position: relative;
}

.sort .nav .nav-item:hover .nav-link {
    color: #9acf6a;
}

.sort .nav .nav-item:hover i {
    border: 2px solid red;
}

#sort-by {
    display: none;
    padding-left: 10px;
}

#supplier {
    padding: 10px 15px;
}

.content-right .row .col-6 {
    margin: 10px 0;
}

.content-right #page {
    text-align: right;
}

.page-left {
    padding-top: 8px;
}

.container .post-title,
.post-most .post-most-title {
    text-decoration: none;
    color: black;
}

.title-head {
    font-size: 25px;
}

.post-time {
    color: rgb(173, 168, 168);
    font-size: 13px;
}

.description_short {
    padding: 10px 0;
    font-size: 18px;
}

.cangiua {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}

#post-bottom {
    display: none;
}

.items {
    padding: 5px;
}

.items .card-body {
    padding: 10px;
    margin: 0;
}

.items .product-item__sale {
    left: 0;
}